.tender-allocation-main-page{
 font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(252, 249, 249, 1);

}

.tender-allocation-card{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    float: right;
    width: 604px;
    height: 138px;
    border-color: burlywood;
    margin-top: 20px;
    margin-right: 30px;
    border-radius: 7px;
    background-color: white;
}

.tender-allocation-container{
  
 margin-top: 30px;
  border: 1px solid rgba(204, 201, 201, 0.795);
  height: 1200px;
  width: 1300px;
  background: rgba(228, 228, 228, 0.795);
  box-shadow: 0 4px 6px 0 rgb(8, 8, 8);
  border-radius: 5px;
}
.tender-allocation-card-header{
border-radius:7px;
  border: 2px solid white;
  width: 600px;
  height: 134px;
  line-height: 2px;
  background-color: #f7f2f2;
}

.tender-allocation-card-header-content{
    margin-left: 10px;
    margin-top: 20px;
}

#tender-description{
 font-size: 15px;
 margin-left: 10px;
}

#tenderee-contact-allocation{
 margin-top: 10px;
 font-size: 14px;
}
#tenderer-name{
    margin-top: 18px;
    
}
#tenderee-name-allocation{
    font-size: 16px;
}

#tenders-allocaation-page-h1{
    margin-left: 200px;
    font-size: 60px;
    margin-bottom: 40px;
    color: rgb(39, 37, 37);
}
