
.connectWallet{
  position:absolute;
  top: 0;
  right: 0;
  padding: auto;
  margin: 20px;
  background-color: #10185C;
  height: 70px;
  border-radius: 15px;
}
#connect{
  
  color: #7FDD6F;
}
.postForm{
box-shadow: 0 8px 9px 0 rgba(0,0,0,0.2);
border-radius: 30px;
  height: 50%;
  
  text-align: center;
  column-gap: 10px;
  width: 30%;
 position:fixed;
  border-color: burlywood;
  float: left;
  margin-left: 25px;
  margin-top: 25px;
  background: #D9D9D9;
}
.open_submit{
  position:fixed;
  bottom: 0px;
  margin-bottom: 100px;

}
.btnPost{
  margin-left: 30px;
  width: 80px;
  background: #b49999;
  color:white;
  border-radius: 20px;
  height: 30px;
}
.btnClose{
  margin-left: 300px;
  width: 80px;
  background: #1D2132;
  color: white;
  

}
.tenderCard{
  
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
  padding: 5px;
  width: 550px;
  height: 150px;
  border-color: burlywood;
  margin-top: 10px;
  margin-right: 15px;
  border-radius: 15px;
  float: right;
  height: 100%;
  background-color: rgba(229, 229, 229, 1);
  
  
}

#tenderCardHeader{

  border-radius: 15px;
  border: 1px solid rgb(156, 147, 135);
  width:540px;
  height: 90px;
  line-height: 2px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  background-color: white;
  
}
#tenderCardHeader p{
  text-align: left;
  margin-left: 10px;
}

#tendercard-middle{
  height: 35px;
  text-align: center;
}

#tendercard-middle h5{

  margin-top: 8px;
}
#btn-bid{
  margin-right: 100px;
}
.tenderTemplates{
  border-radius: 15px;
  background-color: #d7d8dd;
  width:70%;
  height: 200px;
  margin-left: 10%;
  
  
}















